.inputOption {
    display: flex;
    align-items: center;
    margin-top: 10px;
    color: #676766;
    padding: 10px;
    cursor: pointer;
    transition: 500ms;
}

.inputOption:hover {
    background-color: whitesmoke;
    border-radius: 8px;
}

.inputOption > h4 {
    margin-left: 5px;
}